<h1>Sign Up</h1>
<form method="POST">
  <div>
    <label for="username">Username</label>
    <input
      id="username"
      name="username"
      type="text"
      value="<%= username || '' %>"
    />
  </div>
  <button type="submit">Enter</button>
</form>
