<h1>Home</h1>
<a href="/new">Go to form!</a>
<% usernames.forEach(row => { %>
    <p><%= row.username %></p>
<% }) %>
<form method="post">
    <button type="submit">Delete all usernames</button>
</form>